name: Build
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1.1.1
      with:
        go-version: 1.13
      id: go

    - name: Check out code
      uses: actions/checkout@v1.0.0

    - name: Get dependencies
      run: go mod download

    - name: Lint
      run: |
        curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.18.0
        $(go env GOPATH)/bin/golangci-lint run

    - name: Test
      run: go test ./...


